

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table {
	  	width: 100% !important;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block !important;
	}

	/* Hide table headers (but not display: none !important;, for accessibility) */
	thead tr {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	tr { border-top: 1px solid #ccc !important;
        margin-bottom: 20px !important;
         box-shadow: 4px 4px 5px 2px rgba(47, 47, 47, 0.25);

    }

	td {
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: 1px solid #eee !important;
		position: relative !important;
		padding-left: 50% !important;
	}

	td:before {
		/* Now like a table header */
		position: absolute !important;
		/* Top/left values mimic padding */
		top: 6px !important;
		left: 6px !important;
		width: 45% !important;
		padding-right: 10px !important;
		white-space: nowrap !important;
		/* Label the data */
		content: attr(data-column) !important;

		color: #000 !important;
		font-weight: bold !important;
	}
	.MuiOutlinedInput-input{
		width: 100%;
	}

}